<div class="about-col">
	<figure>
		{{ fields.field_member_image.content }}
	</figure>
	<article>
		<h6>{{ fields.title.content }}</h6>
		<span>{{ fields.field_position.content }}</span>
		<div class="about-body" style="display: none;">
			{{ fields.body.content }}
		</div>
		<button class="plus-btn fa fa-plus"></button>
	</article>
</div>

