<div class="clearfix">
	<nav class="news-nav">
		<div class="container etst">
		
			<ul>
				<li><a href="http://wpdraft1.webprosites.co.uk/moorlands/news-blogs?" data-id="#all">All</a></li>
				{% for row in rows %}
				  <li>
					  {{ row }}
					</li>
				{% endfor %}  
			</ul>
		</div>
	</nav>
</div>