<div class="clearfix">
	<section class="partner-section">
		<div class="container">
			<div class="partner-row">
				{% for row in rows %}
					<div class="partner-col">
						{{ row }}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</div>