<div class="recent-news-col">
	<figure>
		{{ fields.field_news_image.content }}
	</figure>
	<article>
		<h3>{{ fields.field_news_title.content }}</h3>
		<a href="{{ fields.view_node.content}}" class="button">Find out more</a>
		
	</article>
</div>	